* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
    font-family: "DM Sans", sans-serif;
    margin-bottom: 50px;
  
  }

  a {
    text-decoration: none;
    color: unset;
    font-weight: unset;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }