  .photographer-card {
    @include flex-center;
    
  
    &__link {
      @include flex-center;
      
  
      &__portrait {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
  
      }
  
      &__name {
        color: $color-secondary;
        font-size: 30px;
      }
    }
  
    &__city {
      font-size: 13px;
      color: $color-primary;
    }
  
    &__tagline {
      font-size: 10px;
  
    }
  
    &__price {
      font-size: 9px;
      color: $color-tertiary;
    }
  }
  
  .photographer_section article p {
    padding: 0;
    margin: 0;
  }
  